@tailwind base;
@tailwind components;
@tailwind utilities;

pre.sourceCode {
    border-radius: 8px;
    padding-top: 0.8571429em;
    padding-right: 1.1428571em;
    padding-bottom: 0.8571429em;
    padding-left: 1.1428571em;
}