@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "@tailwindcss/typography";

@theme {
    --color-background: #eee;
    --color-primary: #444;
    --color-dark-background: #0d1117;
    --color-dark-primary: #c9d1d9;
}