---
title: Kevin Rocker
meta: Kevin Rocker's Homepage and Recent Posts
layout: layouts/base.njk
---

<h1 class="text-3xl my-10">Hello world!</h1>
<div class="max-w-prose md:text-lg flex flex-col my-10 gap-y-10">
  <p>
    Welcome welcome, come on in, pull up a seat. You've found the corner of the
    internet where I do my musings. We're still in the early days of this whole
    blog thing, but I think we'll have a good time.
  </p>

  <p>
    Here are some things I've written. I hope you enjoy them.
  </p>
</div>

{% include "posts.njk" %}